*{
    margin: 0 ;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overflow: hidden;

}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-section {
    text-align: center;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.app-name {
    font-size: 2.5rem;
    color: #333333; 
    margin-bottom: 20px;
}

.categories-grid {
    display: grid;
    grid-template-columns: repeat(3, 250px); 
    gap: 20px; 
    justify-items: center; 
}

.dikr-button {
    display: block;
    text-decoration: none;
    padding: 15px 0;
    background-color: #007bff; 
    color: #ffffff; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.dikr-button:hover {
    background-color: #0056b3; 
}

.category-name {
    font-size: 1.5rem;
    margin: 0;
    color: #ffffff; 

}

/*qsd*/

.dikr-section {
    width: 900px;
    height: 500px;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.dikr-type {
    font-size: 2rem;
    color: #333333; 
}

.single-dikr {
    margin: 20px 0;
    padding: 20px;
    background-color: #007bff; 
    color: #ffffff; 
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 90%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dikr-content {
    font-size: 1.2rem;
    margin: 0;
}

.control-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    width: 90%;
}

.arrow {
    font-size: 2rem;
    color: #007bff;
    cursor: pointer;
    transition: color 0.3s ease;
}

.arrow:hover {
    color: #0056b3; 
}

.options {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.current-dikr,
.times,
.current-times {
    font-size: 1.2rem;
    color: #333333; 
}

.current-times {
    background-color: #007bff; 
    color: #ffffff; 
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.current-times:hover {
    background-color: #0056b3; 
}

.exit {
    background-color: #007bff; 
    width: 100px;
    color: #ffffff; 
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 50px;
    
}

.exit:hover{
    background-color: #0056b3; 
}

@media (max-width: 920px) {
    .dikr-section {
        width: 800px;
    }
}


@media (max-width: 840px) {
    .home-section {
        width: 700px;
    }
    .app-name {
        font-size: 2rem;
    }
    .category-name {
        font-size: 1.2rem;
    }

    .categories-grid {
        grid-template-columns: repeat(3, 200px); 
    }

    .dikr-type {
        margin-bottom: 10px;
    }

    .dikr-section {
        width: 700px;
    }

    .single-dikr {
        margin: 0;
        padding: 0 20px;
        height: 180px;
    }
}

@media (max-width: 715px) {
    .home-section {
        width: 550px;
    }
    .app-name {
        font-size: 1.5rem;
    }
    .category-name {
        font-size: 1rem;
    }

    .categories-grid {
        grid-template-columns: repeat(3, 150px); 
    }

    .dikr-section {
        width: 600px;
    }
}

@media (max-width: 615px) {

    .dikr-section {
        width: 500px;
    }

    .dikr-content{
        font-size: 18px;
    }
}

@media (max-width: 565px) {
    .home-section {
        width: 400px;
    }
    .categories-grid {
        grid-template-columns: repeat(3, 110px); 
    }

    .dikr-section {
        width: 400px;
    }
    .dikr-content{
        font-size: 15px;
    }

    .exit {
        width: 70px;
        font-size: 40px;
    }
}


@media (max-width: 415px) {
    .home-section {
        width: 350px;
    }
    .categories-grid {
        grid-template-columns: repeat(2, 150px); 
    }

    .dikr-type{
        font-size: 23px;
        padding: 5px;
    }

    .dikr-section {
        width: 300px;
        height: 600px;
    }

    .single-dikr {
        height: 350px;
        width: 95%;
    }

    .dikr-content{
        font-size: 17px;
    }

    .current-times {
        width: 35px;
        height: 35px;
    }

    .current-dikr{
        font-size: 20px;
        padding: 10px;
    }
    
}

@media (max-width: 365px) {
    .home-section {
        width: 300px;
    }
    .categories-grid {
        grid-template-columns: repeat(2, 120px); 
    }
}

@media (max-width: 315px) {
    .home-section {
        width: 250px;
    }
    .categories-grid {
        grid-template-columns: repeat(2, 100px);
        grid-gap: 10px;
    }

    .dikr-section {
        width: 250px;
    }

    .dikr-content {
        font-size: 16px;
    }

    .dikr-type{
        font-size: 20px;
        padding: 5px;
    }

    .arrow{
        font-size: 25px;
    }

    .current-times{
        font-size: 1rem;
        padding: 10px;
        border-radius: 5px;
    }
}

@media (max-width: 265px) {
    .home-section {
        width: 220px;
        padding: 5px;
    }
    .categories-grid {
        grid-template-columns: repeat(2, 85px);
    }

    .category-name {
        font-size: 0.8rem;
    }
}



